p { background-color: rebeccapurple;}
.boardgame {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-self: center;
}

